<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1>Stock Dashboard</h1>

<input
  type="text"
  
  (keyup)="search($event)"
  placeholder="Search your Stocks here(ex:ABCD)..."
  autocomplete="off"
/>
<ul *ngIf="suggestions?.length" class="autocomplete-list">
  <li *ngFor="let suggestion of suggestions"  (click)="selectSuggestion(suggestion)" >
    {{ suggestion['2. name'] }}
  </li>
</ul>
<app-stock-details [stockDetails]="stockDetails" [stockName]="stockName" ></app-stock-details>

<div class="charts-container">
<app-stock-chart [mothlyTimeSeries]="mothlyTimeSeries" [metaData]="mothlyMetaData" canvasId="Monthly"></app-stock-chart>
<app-stock-chart [mothlyTimeSeries]="weeklyTimeSeries" [metaData]="weeklyMetaData" canvasId="Weekly"></app-stock-chart>
<app-stock-chart [mothlyTimeSeries]="dailyTimeSeries" [metaData]="dailyMetaData" canvasId="Daily"></app-stock-chart>

</div>
<router-outlet></router-outlet>
