<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1>Hi there from angular v15</h1>
<input
  type="text"
  
  (keyup)="search($event)"
  placeholder="Search your Stocks here(ex:ABCD)..."
  autocomplete="off"
/>
<ul *ngIf="suggestions?.length" class="autocomplete-list">
  <li *ngFor="let suggestion of suggestions"  (click)="selectSuggestion(suggestion)" >
    {{ suggestion['2. name'] }}
  </li>
</ul>
<app-stock-details [stockDetails]="stockDetails" [stockName]="stockName" ></app-stock-details>
<router-outlet></router-outlet>
